.secondhand {
  fill: #FE2D6D;
}

.minutehand {
  fill: #F3D38F;
}

.hourhand {
  fill: #2A273C;
}

.outercircle{
  fill: black;
}

.secondback{
  fill: #FFFFFF
}

.minuteback{
  fill: #F6F6F6
}

.hourback {
  fill: #D4D4D4;
}

